body{
    height: 100%;
    margin: 0;
    padding: 12px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 3px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: darkgray;
    font-family: sans-serif;
}

button {
    padding: 12px;
    text-decoration: none;
    color: white; /* This sets the text color to white */
    text-transform: uppercase;
    border: none;
    background-color: #007bff; /* Example button color */
    cursor: pointer;
}

a:hover{
    background-color: white;
}